
#facebook:hover, #wechat:hover{
	opacity: 0.5;
}

/* Social Media End*/

#header {
	width: 100%;
	max-width: 100%;
	height: 65%;
	position: relative;	
	text-align:right;
	background-image: url(images/fillerHeader.jpg);
	background-size: 100%;
}


a {
	font-weight: bold;
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
	font-family: 'Avenir';
	font: 25px;
}


li{
	float: left;
	padding-left: 3%;
	padding-right:3%;
	height: 90%;
	padding-top: 5px;
}

ul {
	float: right;
	/*padding-right: 50px;*/
	width: 45%;
	
}
img {
	height: 30px;
	width: auto;
	/*float: right;*/
	
	/*margin-right: 3%;*/
}