* {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
}

#facebook:hover, #wechat:hover{
	/*opacity: 0.5;*/
	transform: scale(1.2);
}
body{
	background-color: #f2f2f2;
}



.header {
	width: 100%;
	max-width: 100%;
	height: 65%;
	position:fixed;
	text-align:center;
	background-image: url(images/fillerHeader.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.header .layer {
	width: 100%;
	max-width: 100%;
	height: 65%;
	position: fixed;
    background-color: rgba(30,28,28, 0.4);
    background-size: 100%;
    background-repeat: no-repeat;

}

nav{
	display:block;
	width:100%;
	float:right;

	position:fixed;
	float:right;

}

nav ul {
	list-style-type: none;
	float: right;
	width: 38%;
}

nav ul li{
	float:left;
	display:inline;
	padding-left: 2%;
	padding-right: 2.5%;
	height: 5%;
	padding-top: 4%;
}

nav ul li:hover{

	transform: scale(1.2);
}

nav ul img {
	height: 3%;
	width:auto;
	/*float: right;*/

	/*margin-right: 3%;*/
}
.description{
	/*background-color: blue;*/

	text-align:center;
	position:relative;
	width:50%;
	resize:both;
	overflow: hidden;
	margin-top:13%;
	margin-left: 25%;

}

.description #title{
font-family: 'Avenir';
font-size-adjust: 0.58;
	font-size:50px;
	font-size: 4vw;
	color:white;
	margin-bottom: -3%;

}

.description #subtitle{
font-family: 'Avenir';
font-size-adjust: 0.58;
	font-size:30px;
	font-size: 2vw;
	color:white;

}

.header a {
	font-weight: bold;
	text-decoration: none;
	color: #e6e6e6;
	letter-spacing: 1px;
	font-family: 'Avenir';
	font-size: 20px;
	font-size: 1.28vw;
}

.content{
  position:relative;
  margin-top: 40%;
  width:100%;
}

.tour{
  position:relative;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  /*background-color: black;*/
}

.tab{
  text-align: right;
  margin-right:
}

.path_tourguide{
  /*background-color: black;*/
  position:relative;
  height:50%;
}

.path_tourguide #path1{
  display: block;
  background-color: blue;
  position:relative;
  height:50%;
}

.path_tourguide #path2{
  display: block;
  background-color: blue;
  position:relative;
  height:50%;
}

.path_tourguide #tourguide1{
  background-color: yellow;
  position:relative;
  height:50%;
  display:none;
}

.path_tourguide #tourguide2{
  background-color: yellow;
  position:relative;
  height:50%;
  display:none;
}
/*.navbar li:hover{
	transform: scale(1.2);
}*/
